
# #updated requirements.txt because of build issues:

# # Web Framework
# fastapi
# uvicorn[standard]
# python-multipart

# # LangChain Core & Ecosystem
# langchain
# langchain-community
# langchain-core
# langchain-text-splitters

# # Integrations (LLM & Embeddings)
# langchain-groq
# langchain-huggingface
# langchain-chroma

# # Underlying AI Libraries
# sentence-transformers
# chromadb

# # PDF Handling
# pypdf

# # Utilities
# python-dotenv
# pydantic
# requests
# httpx
# typing-extensions
# tqdm








#Switched to this because I want to use pinecone and openai text embeddings.
# Web Framework
fastapi
uvicorn[standard]
python-multipart

# LangChain Core
langchain
langchain-community
langchain-core
langchain-text-splitters

# LLMs
langchain-groq
openai
langchain-openai

# Vector DB
pinecone-client

# PDF Parsing
pypdf

# Environment Variables
python-dotenv

# Utilities
pydantic
requests
httpx
typing-extensions
loguru
aiofiles
tqdm




















#My main requirements.txt file that works well with chroma and ebeddings.

# # Web Framework
# fastapi
# uvicorn[standard]
# python-multipart

# # LangChain & Ecosystem
# langchain
# langchain-community
# langchain-core
# langchain-groq

# # LangChain Integrations
# langchain-groq
# langchain-chroma
# langchain-huggingface
# langchain-text-splitters
# langchain-google-genai

# # Vectorstore
# chromadb
# pinecone

# # Embeddings
# sentence-transformers
# # langchain-google-generative-ai
# langchain-google-genai

# # PDF Parsing
# PyPDF  # backend for PyPDFLoader via langchain_community
# pypdf

# # Environment Variables
# python-dotenv

# # Typing & Utilities
# pydantic
# requests
# httpx
# typing-extensions

# # Logging (optional but recommended)
# loguru

# # File Uploads
# aiofiles

# # Process
# tqdm





# # pip install -r requirements.txt