
# #updated requirements.txt because of build issues:

# # Web Framework
# fastapi
# uvicorn[standard]
# python-multipart

# # LangChain Core & Ecosystem
# langchain
# langchain-community
# langchain-core
# langchain-text-splitters

# # Integrations (LLM & Embeddings)
# langchain-groq
# langchain-huggingface
# langchain-chroma

# # Underlying AI Libraries
# sentence-transformers
# chromadb

# # PDF Handling
# pypdf

# # Utilities
# python-dotenv
# pydantic
# requests
# httpx
# typing-extensions
# tqdm








#Switched to this because I want to use pinecone and openai text embeddings.
# # Web Framework
# fastapi
# uvicorn[standard]
# python-multipart

# # LangChain Core
# langchain
# langchain-text-splitters

# # LLMs / Embeddings
# openai
# langchain-openai
# langchain-groq

# # Vector DB
# pinecone
# langchain-pinecone

# # PDF Parsing
# pypdf

# # Environment Variables
# python-dotenv

# # Utilities
# pydantic
# requests
# httpx
# typing-extensions
# loguru
# aiofiles
# tqdm


# Web Framework
fastapi==0.128.0
uvicorn[standard]==0.40.0
python-multipart==0.0.21

# LangChain Core
langchain==1.2.0
langchain-core==1.2.5
langchain-community==0.4.1
langchain-text-splitters==1.1.0

# LLMs / Embeddings
openai==2.14.0
langchain-openai==1.1.6
langchain-groq==1.1.1

# Vector DB
pinecone==7.3.0
langchain-pinecone==0.2.13

# PDF Parsing
pypdf==6.5.0

# Environment Variables
python-dotenv==1.2.1

# Utilities
pydantic==2.12.5
requests==2.32.5
httpx==0.28.1
typing-extensions==4.15.0
loguru==0.7.3
aiofiles==25.1.0
tqdm==4.67.1
















#My main requirements.txt file that works well with chroma and ebeddings.

# # Web Framework
# fastapi
# uvicorn[standard]
# python-multipart

# # LangChain & Ecosystem
# langchain
# langchain-community
# langchain-core
# langchain-groq

# # LangChain Integrations
# langchain-groq
# langchain-chroma
# langchain-huggingface
# langchain-text-splitters
# langchain-google-genai

# # Vectorstore
# chromadb
# pinecone

# # Embeddings
# sentence-transformers
# # langchain-google-generative-ai
# langchain-google-genai

# # PDF Parsing
# PyPDF  # backend for PyPDFLoader via langchain_community
# pypdf

# # Environment Variables
# python-dotenv

# # Typing & Utilities
# pydantic
# requests
# httpx
# typing-extensions

# # Logging (optional but recommended)
# loguru

# # File Uploads
# aiofiles

# # Process
# tqdm





# # pip install -r requirements.txt